:root {
    --ff-body: sans-serif;
    --ff-heading: sans-serif;

    --fs-400: 1rem;
    
    --fw-400: 400;
} 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 

ul {
    margin-block-start: 1em;     
    margin-block-end: 1em;       
    padding-inline-start: 40px;
}

ol {
    margin-block-start: 1em;     
    margin-block-end: 1em;       
    padding-inline-start: 40px;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    margin-top: 0.2em;
    margin-bottom: 0.6em;
}

main {
  flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1.4;
}

a {
  color: black;
}





h1, h2, h3 {
    font-family: var(--ff-heading);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

video {
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

.section {
    padding-block: 7rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.container {
    max-inline-size: 75rem;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.container-sm {
    max-inline-size: 28rem;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.next-nav {
    text-align: right;
    padding-block: 3rem;
}

.back-nav {
    padding-block: 3rem;
}

.banner-wrapper {
    text-align: center;
}

.case-item {
    position: relative;
}

.case-caption {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: .25rem;
    max-width: 80%;
}

.popup {
    background-color: black;
    color: white;
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    max-width: 400px;
    padding: 20px;
    flex-direction: column;
    gap: 50px;
}

.popup a {
    color: white;
}

.popup-header {
    display: flex;
    justify-content: space-between;
}





@media (max-width: 48rem) {
    .grid {
        grid-template-columns: 1fr;
        gap: 7rem;
    }

    .container, .container-sm {
        padding-inline: 1rem;
    }

    .popup {
        inset: 0;           /* top:0; right:0; bottom:0; left:0; */
        max-width: none;    /* zruší obmedzenie šírky */
        width: 100vw;       /* plná šírka obrazovky */
        height: 100vh;      /* plná výška obrazovky */
        bottom: auto;       /* zruší predchádzajúce pozície */
        right: auto;
        padding: 20px;

    }
    
}

