



@font-face {
  font-family: 'obv';
  src: url('../fonts/Obviously-Thin.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.link-inline {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem; 
}

a {
    color: black;
}


:root {


--ff-body: 'Inter';
--ff-heading: 'obv';

--fs-100: 1rem;
--fs-200: clamp(36px, 3vw + 20px, 66px);


--fw-100: 300;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;


    font-size: var(--fs-100);
    font-family: var(--ff-body);
    font-weight: var(--fw-100);
    line-height: 150%;
}







nav ul {
    list-style: none;
    padding-left: 0;
}


.container {
    max-inline-size: 75rem;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.container-sm {
    max-inline-size: 28rem;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

/* Projects - homepage */



.projects__layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.projects__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero {
    padding-block: clamp(120px, 10vw + 40px, 200px);
}

img, video {
    width: 100%;
}

h1 {
    font-size: var(--fs-200);
    font-weight: var(--fw-100);
    font-family: var(--ff-heading);
    line-height: 120%;
} 

h2 {
    font-size: var(--fs-100);
    font-weight: var(--fw-100);
    font-family: var(--ff-body);
}



.header__text {
    text-align: center;
}

.header {
    padding-block: 1rem;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
}

footer {
    margin-top: auto;
}


.paragraph-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.back-nav {
    padding-top: 3rem;
}

.next-nav {
    padding-block: 3rem;
    text-align: right;
}

.footer {
    padding-top: 7.5rem;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}


/* Case */

.case__text {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.case__layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.case__showcase {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media (max-width: 768px) {
    .projects__layout {
        grid-template-columns: 1fr;
    }

    .case__layout {
        grid-template-columns: 1fr;
    }



    



}